@font-face {
  font-family: "Press Start 2P";
  src: url("../../resources/fonts/PressStart2P.ttf") format("truetype");
}

.container {
  width: 500px;
  height: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: #5858583a;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.imageContainer {
  position: relative;
}

.imageContainer .shadow {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 4px;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.712) 80%);
  border-radius: 0px 0px 10px 10px;
}

.imageContainer img {
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

.imageContainer .text {
  position: absolute;
  margin: 8px;
  bottom: 0px;
  color: white;
  font-weight: 400;
}

.textContainer {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.textContainer .text {
  color: rgb(236, 236, 236);
  background-color: rgba(0, 0, 0, 0.226);
  font-size: larger;
  padding-left: 5px;
  padding-right: 5px;
}
