@font-face {
  font-family: "Press Start 2P";
  src: url("../../resources/fonts/PressStart2P.ttf") format("truetype");
}

.container {
  width: 250px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: #5858585b;
  border-radius: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  transition: all 0.1s ease;
}

.container:hover {
  box-shadow: 2px 2px 10px rgba(170, 170, 170, 0.2),
    2px -2px 10px rgba(170, 170, 170, 0.2),
    -2px 2px 10px rgba(170, 170, 170, 0.2),
    -2px -2px 10px rgba(170, 170, 170, 0.2);
  transform: scale(1.05);
}

.imageContainer {
  height: 250px;
  position: relative;
}

.closeButton {
  height: 2.5em;
  width: 2.5em;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #5858585b;
  color: #ffffff;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  font-family: "Press Start 2P", Arial, sans-serif;
  z-index: 2;
}

.closeButton:hover {
  top: 8px;
  left: 8px;
  background-color: #555555aa;
  transform: scale(1.15);
}

.favButton1,
.favButton2 {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #5858585b;
  font-size: larger;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  font-family: "Press Start 2P", Arial, sans-serif;
  z-index: 2;
}

.favButton1:hover,
.favButton2:hover {
  top: 8px;
  right: 8px;
  background-color: #555555aa;
  transform: scale(1.15);
}

.favButton1 {
  color: red;
}

.favButton2 {
  color: white;
  display: none;
}

.container:hover .favButton1,
.container:hover .favButton2 {
  display: block;
}

.imageContainer img {
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

.imgDead {
  filter: grayscale(100%);
}

.imageContainer .textContainer {
  width: 240px;
  height: 90px;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 5px;
  margin: 0;
  left: 0;
  bottom: 0;
  line-height: 40px;
  text-decoration: none;
  color: white;
  background: linear-gradient(#7e7e7e00, #0f0f0f);
  border-radius: 0px 0px 8px 8px;
  z-index: 2;
}

.imageContainer .text {
  height: 40px;
  position: relative;
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imageContainer .text:hover {
  color: #b8b8b8;
}
