.container {
  /* margin: up right down left */
  width: 350px;
  padding: 1.5% 3% 3%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(158, 158, 158, 0.548);
  /* background-color: rgba(163, 101, 111, 0.548); */
  border-radius: 15px;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.6);
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #303030;
}

.label {
  margin: 1rem 0px 0.2rem;
  color: #0e0e0e;
  font-size: large;
  font-weight: 600;
}

.input,
.inputError {
  width: 98%;
  height: 2rem;
  text-indent: 10px;
  font-size: medium;
  outline: none;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.inputError {
  border: solid 2px rgb(201, 19, 19);
}

.inputPassword {
  width: 100%;
  display: flex;
  align-items: center;
}

.inputPassword .input,
.inputPassword .inputError {
  border-radius: 8px 0 0 8px;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.6);
}

.visibility {
  height: 100%;
  width: 40px;
  font-size: medium;
  color: #555;
  background-color: #fff;
  border-style: hidden;
  border-radius: 0 8px 8px 0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.visibility:hover {
  cursor: pointer;
}

.submit {
  margin-top: 1.2rem;
  width: 40%;
  height: 2.8rem;
  border-radius: 10px;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 3px;
  color: #8ed173;
  background-color: #437031;
  text-shadow: #12300633 2px 2px 2px;
  border: solid 0px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.submit:hover {
  color: #32661e;
  background-color: #60944b;
  cursor: pointer;
}

.error,
.errorPlaceholder {
  margin: 0.3rem 0px;
  color: rgb(180, 0, 0);
}

.title {
  width: 350px;
  margin: 10px 0px 15px;
  color: #7ed66c;
  text-shadow: #0e0e0e 2px 2px 6px;
  text-align: center;
  font-size: 32px;
  letter-spacing: 2px;
}

.forgotPassword {
  width: 100%;
  height: 25px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  font-size: medium;
}

.forgotPassword span {
  color: #4de412;
  text-shadow: #185300 2px 2px 2px;
}

.forgotPassword span:hover {
  cursor: pointer;
  color: #96d47d;
}
