.containerFilters,
.containerCards {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.containerFilters {
  justify-content: space-around;
}

.containerCards {
  justify-content: center;
  padding-bottom: 120px;
}

.containerGlobal {
  padding-top: 110px;
}