.containerFilters,
.containerCards {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.containerFilters {
  padding: 20px 0px 0px;
  justify-content: space-around;
  background-color: #80808080;
}

.containerCards {
  justify-content: center;
  margin: 20px 20px 20px 0px;
  padding-bottom: 120px;
}

.containerGlobal {
  margin-top: 80px;
  overflow-y: auto;
  height: 87vh;
}

.containerFilters select {
  font-size: large;
  color: rgb(206, 206, 206);
  background-color: #ffffff00;
  border-style: hidden;
}

.containerFilters option {
  background-color: #303030;
}

.containerFilters select:hover {
  color: white;
  cursor: pointer;
}

.containerFilters option:hover {
  background-color: #707070;
}

.clear {
  height: 35px;
  width: 40px;
  font-size: larger;
  text-align: center;
  line-height: 25px;
  color: rgb(206, 206, 206);
  background-color: #ffffff00;
  border-style: hidden;
}
.clear:hover {
  color: white;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: auto;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  color: #000000ff;
}